substitutions:
  tx_pin: GPIO2
  rx_pin: GPIO1
  platform: esp32
  board: m5stack-atoms3
  friendly_name: Navien
  project_name: Navien.ATOM-S3-Lite-ESP32
  project_version: "0.0.0.1"

packages:
  navien: !include navien-base.yml

dashboard_import:
  package_import_url: github://htumanyan/navien/esphome/navien-esphome-atom-lite-esp32.yml
  import_full_config: false

logger:
  # baud_rate: 0 is REQUIRED for ESP32-S3 (it uses USB-CDC, not traditional UART)
  baud_rate: 0
  level: INFO
  
button:
  - platform: navien
    name: NavienHotButton
    
light:
  - platform: esp32_rmt_led_strip
    chipset: WS2812
    pin: GPIO35
    num_leds: 1
    rgb_order: GRB
    id: led
    name: "Indicator Light"

binary_sensor:
  - platform: gpio
    id: atom_s3_lite_button
    name: "Button on Atom S3 Lite"
    pin:
      number: GPIO41
      inverted: true
      mode:
        input: true
        pullup: true
    filters:
      - delayed_off: 10ms
    on_press:
      - lambda: |-
          ESP_LOGI("binary_sensor.atom_s3_lite_button", "Pressed");

esphome:
  on_boot:
    priority: 500
    then:
      - lambda: |-
          ESP_LOGI("esphome.on_boot", "priority 500");
      - light.turn_on:
          id: led
          brightness: 100%
          red: 100%
          green: 100%
          blue: 0%
  on_shutdown:
    priority: -100
    then:
      - lambda: |-
          ESP_LOGI("esphome.on_shutdown", "priority -100");
      - light.turn_on:
          id: led
          brightness: 100%
          red: 0%
          green: 0%
          blue: 100%
        
wifi:
  on_connect:
    then:
      - light.turn_on:
          id: led
          brightness: 100%
          red: 0%
          green: 100%
          blue: 0%
  on_disconnect:
    then:
      - light.turn_on:
          id: led
          brightness: 100%
          red: 100%
          green: 0%
          blue: 0%
      
