substitutions:
  tx_pin: GPIO2
  rx_pin: GPIO1
  platform: esp32
  board: m5stack-atoms3
  friendly_name: Navien
  project_name: Navien.ATOM-S3-Lite-ESP32
  project_version: "0.0.0.1"

packages:
  navien: !include navien-base.yml

dashboard_import:
  package_import_url: github://htumanyan/navien/esphome/navien-esphome-atom-lite-esp32.yml
  import_full_config: false

button:
  - platform: navien
    name: NavienHotButton
    
light:
  - platform: esp32_rmt_led_strip
    chipset: SK6812
    pin: GPIO35
    num_leds: 1
    rgb_order: GRB
    name: "Indicator Light"
    initial_state:
      state: on
      color_mode: RGB
      brightness: 50%
      red: 0%
      green: 100%
      blue: 0%
